/PomodoroCLI/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/PomodoroDomain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/PomodoroDomain/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/PomodoroCLI/obj/Debug/net6.0/apphost
/PomodoroCLI/obj/Release/net6.0/apphost
/PomodoroCLI/bin/Debug/net6.0/appsettings.json
/PomodoroCLI/bin/Release/net6.0/appsettings.json
/.idea/.idea.PomodoroApp/.idea/encodings.xml
/.idea/.idea.PomodoroApp/.idea/indexLayout.xml
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
/PomodoroCLI/bin/Release/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Binder.dll
/PomodoroCLI/bin/Release/net6.0/Microsoft.Extensions.Configuration.Binder.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.Configuration.CommandLine.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.Configuration.dll
/PomodoroCLI/bin/Release/net6.0/Microsoft.Extensions.Configuration.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/PomodoroCLI/bin/Release/net6.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/PomodoroCLI/bin/Release/net6.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Json.dll
/PomodoroCLI/bin/Release/net6.0/Microsoft.Extensions.Configuration.Json.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.Configuration.UserSecrets.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/PomodoroCLI/bin/Release/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
/PomodoroCLI/bin/Release/net6.0/Microsoft.Extensions.DependencyInjection.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/PomodoroCLI/bin/Release/net6.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Physical.dll
/PomodoroCLI/bin/Release/net6.0/Microsoft.Extensions.FileProviders.Physical.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.FileSystemGlobbing.dll
/PomodoroCLI/bin/Release/net6.0/Microsoft.Extensions.FileSystemGlobbing.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.Hosting.Abstractions.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.Hosting.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.Logging.Configuration.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.Logging.Console.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.Logging.Debug.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.Logging.EventLog.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.Logging.EventSource.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
/PomodoroCLI/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
/PomodoroCLI/bin/Release/net6.0/Microsoft.Extensions.Primitives.dll
/PomodoroDomain/obj/Debug/net6.0/Pomodoro.AssemblyInfo.cs
/PomodoroDomain/obj/Debug/net6.0/Pomodoro.AssemblyInfoInputs.cache
/PomodoroDomain/obj/Debug/net6.0/Pomodoro.assets.cache
/PomodoroDomain/obj/Debug/net6.0/Pomodoro.csproj.AssemblyReference.cache
/PomodoroDomain/obj/Pomodoro.csproj.nuget.dgspec.json
/PomodoroDomain/obj/Pomodoro.csproj.nuget.g.props
/PomodoroDomain/obj/Pomodoro.csproj.nuget.g.targets
/PomodoroDomain/obj/Debug/net6.0/Pomodoro.GeneratedMSBuildEditorConfig.editorconfig
/PomodoroCLI/bin/Debug/net6.0/PomodoroCLI
/PomodoroCLI/bin/Release/net6.0/PomodoroCLI
/PomodoroCLI/obj/Debug/net6.0/PomodoroCLI.AssemblyInfo.cs
/PomodoroCLI/obj/Release/net6.0/PomodoroCLI.AssemblyInfo.cs
/PomodoroCLI/obj/Debug/net6.0/PomodoroCLI.AssemblyInfoInputs.cache
/PomodoroCLI/obj/Release/net6.0/PomodoroCLI.AssemblyInfoInputs.cache
/PomodoroCLI/obj/Debug/net6.0/PomodoroCLI.assets.cache
/PomodoroCLI/obj/Release/net6.0/PomodoroCLI.assets.cache
/PomodoroCLI/obj/Debug/net6.0/PomodoroCLI.csproj.AssemblyReference.cache
/PomodoroCLI/obj/Release/net6.0/PomodoroCLI.csproj.AssemblyReference.cache
/PomodoroCLI/obj/Debug/net6.0/PomodoroCLI.csproj.CopyComplete
/PomodoroCLI/obj/Release/net6.0/PomodoroCLI.csproj.CopyComplete
/PomodoroCLI/obj/Debug/net6.0/PomodoroCLI.csproj.CoreCompileInputs.cache
/PomodoroCLI/obj/Release/net6.0/PomodoroCLI.csproj.CoreCompileInputs.cache
/PomodoroCLI/obj/Debug/net6.0/PomodoroCLI.csproj.FileListAbsolute.txt
/PomodoroCLI/obj/Release/net6.0/PomodoroCLI.csproj.FileListAbsolute.txt
/PomodoroCLI/obj/PomodoroCLI.csproj.nuget.dgspec.json
/PomodoroCLI/obj/PomodoroCLI.csproj.nuget.g.props
/PomodoroCLI/obj/PomodoroCLI.csproj.nuget.g.targets
/PomodoroCLI/bin/Debug/net6.0/PomodoroCLI.deps.json
/PomodoroCLI/bin/Release/net6.0/PomodoroCLI.deps.json
/PomodoroCLI/bin/Debug/net6.0/ref/PomodoroCLI.dll
/PomodoroCLI/bin/Debug/net6.0/PomodoroCLI.dll
/PomodoroCLI/bin/Release/net6.0/ref/PomodoroCLI.dll
/PomodoroCLI/bin/Release/net6.0/PomodoroCLI.dll
/PomodoroCLI/obj/Debug/net6.0/ref/PomodoroCLI.dll
/PomodoroCLI/obj/Debug/net6.0/PomodoroCLI.dll
/PomodoroCLI/obj/Release/net6.0/ref/PomodoroCLI.dll
/PomodoroCLI/obj/Release/net6.0/PomodoroCLI.dll
/PomodoroCLI/obj/Debug/net6.0/PomodoroCLI.GeneratedMSBuildEditorConfig.editorconfig
/PomodoroCLI/obj/Release/net6.0/PomodoroCLI.GeneratedMSBuildEditorConfig.editorconfig
/PomodoroCLI/obj/Debug/net6.0/PomodoroCLI.genruntimeconfig.cache
/PomodoroCLI/obj/Release/net6.0/PomodoroCLI.genruntimeconfig.cache
/PomodoroCLI/obj/Debug/net6.0/PomodoroCLI.GlobalUsings.g.cs
/PomodoroCLI/obj/Release/net6.0/PomodoroCLI.GlobalUsings.g.cs
/PomodoroCLI/bin/Debug/net6.0/PomodoroCLI.pdb
/PomodoroCLI/bin/Release/net6.0/PomodoroCLI.pdb
/PomodoroCLI/obj/Debug/net6.0/PomodoroCLI.pdb
/PomodoroCLI/obj/Release/net6.0/PomodoroCLI.pdb
/PomodoroCLI/bin/Debug/net6.0/PomodoroCLI.runtimeconfig.json
/PomodoroCLI/bin/Release/net6.0/PomodoroCLI.runtimeconfig.json
/PomodoroDomain/obj/Debug/net6.0/PomodoroDomain.AssemblyInfo.cs
/PomodoroDomain/obj/Release/net6.0/PomodoroDomain.AssemblyInfo.cs
/PomodoroDomain/obj/Debug/net6.0/PomodoroDomain.AssemblyInfoInputs.cache
/PomodoroDomain/obj/Release/net6.0/PomodoroDomain.AssemblyInfoInputs.cache
/PomodoroDomain/obj/Debug/net6.0/PomodoroDomain.assets.cache
/PomodoroDomain/obj/Release/net6.0/PomodoroDomain.assets.cache
/PomodoroDomain/obj/Debug/net6.0/PomodoroDomain.csproj.AssemblyReference.cache
/PomodoroDomain/obj/Release/net6.0/PomodoroDomain.csproj.AssemblyReference.cache
/PomodoroDomain/obj/Debug/net6.0/PomodoroDomain.csproj.CoreCompileInputs.cache
/PomodoroDomain/obj/Release/net6.0/PomodoroDomain.csproj.CoreCompileInputs.cache
/PomodoroDomain/obj/Debug/net6.0/PomodoroDomain.csproj.FileListAbsolute.txt
/PomodoroDomain/obj/Release/net6.0/PomodoroDomain.csproj.FileListAbsolute.txt
/PomodoroDomain/obj/PomodoroDomain.csproj.nuget.dgspec.json
/PomodoroDomain/obj/PomodoroDomain.csproj.nuget.g.props
/PomodoroDomain/obj/PomodoroDomain.csproj.nuget.g.targets
/PomodoroDomain/bin/Debug/net6.0/PomodoroDomain.deps.json
/PomodoroDomain/bin/Release/net6.0/PomodoroDomain.deps.json
/PomodoroCLI/bin/Debug/net6.0/PomodoroDomain.dll
/PomodoroCLI/bin/Release/net6.0/PomodoroDomain.dll
/PomodoroDomain/bin/Debug/net6.0/ref/PomodoroDomain.dll
/PomodoroDomain/bin/Debug/net6.0/PomodoroDomain.dll
/PomodoroDomain/bin/Release/net6.0/ref/PomodoroDomain.dll
/PomodoroDomain/bin/Release/net6.0/PomodoroDomain.dll
/PomodoroDomain/obj/Debug/net6.0/ref/PomodoroDomain.dll
/PomodoroDomain/obj/Debug/net6.0/PomodoroDomain.dll
/PomodoroDomain/obj/Release/net6.0/ref/PomodoroDomain.dll
/PomodoroDomain/obj/Release/net6.0/PomodoroDomain.dll
/PomodoroDomain/obj/Debug/net6.0/PomodoroDomain.GeneratedMSBuildEditorConfig.editorconfig
/PomodoroDomain/obj/Release/net6.0/PomodoroDomain.GeneratedMSBuildEditorConfig.editorconfig
/PomodoroDomain/obj/Debug/net6.0/PomodoroDomain.GlobalUsings.g.cs
/PomodoroDomain/obj/Release/net6.0/PomodoroDomain.GlobalUsings.g.cs
/PomodoroCLI/bin/Debug/net6.0/PomodoroDomain.pdb
/PomodoroCLI/bin/Release/net6.0/PomodoroDomain.pdb
/PomodoroDomain/bin/Debug/net6.0/PomodoroDomain.pdb
/PomodoroDomain/bin/Release/net6.0/PomodoroDomain.pdb
/PomodoroDomain/obj/Debug/net6.0/PomodoroDomain.pdb
/PomodoroDomain/obj/Release/net6.0/PomodoroDomain.pdb
/PomodoroCLI/obj/project.assets.json
/PomodoroDomain/obj/project.assets.json
/PomodoroCLI/obj/project.nuget.cache
/PomodoroDomain/obj/project.nuget.cache
/PomodoroCLI/obj/project.packagespec.json
/PomodoroDomain/obj/project.packagespec.json
/PomodoroCLI/obj/rider.project.restore.info
/PomodoroDomain/obj/rider.project.restore.info
/PomodoroCLI/bin/Debug/net6.0/System.CommandLine.dll
/PomodoroCLI/bin/Release/net6.0/System.CommandLine.dll
/PomodoroCLI/bin/Debug/net6.0/cs/System.CommandLine.resources.dll
/PomodoroCLI/bin/Debug/net6.0/de/System.CommandLine.resources.dll
/PomodoroCLI/bin/Debug/net6.0/es/System.CommandLine.resources.dll
/PomodoroCLI/bin/Debug/net6.0/fr/System.CommandLine.resources.dll
/PomodoroCLI/bin/Debug/net6.0/it/System.CommandLine.resources.dll
/PomodoroCLI/bin/Debug/net6.0/ja/System.CommandLine.resources.dll
/PomodoroCLI/bin/Debug/net6.0/ko/System.CommandLine.resources.dll
/PomodoroCLI/bin/Debug/net6.0/pl/System.CommandLine.resources.dll
/PomodoroCLI/bin/Debug/net6.0/pt-BR/System.CommandLine.resources.dll
/PomodoroCLI/bin/Debug/net6.0/ru/System.CommandLine.resources.dll
/PomodoroCLI/bin/Debug/net6.0/tr/System.CommandLine.resources.dll
/PomodoroCLI/bin/Debug/net6.0/zh-Hans/System.CommandLine.resources.dll
/PomodoroCLI/bin/Debug/net6.0/zh-Hant/System.CommandLine.resources.dll
/PomodoroCLI/bin/Release/net6.0/cs/System.CommandLine.resources.dll
/PomodoroCLI/bin/Release/net6.0/de/System.CommandLine.resources.dll
/PomodoroCLI/bin/Release/net6.0/es/System.CommandLine.resources.dll
/PomodoroCLI/bin/Release/net6.0/fr/System.CommandLine.resources.dll
/PomodoroCLI/bin/Release/net6.0/it/System.CommandLine.resources.dll
/PomodoroCLI/bin/Release/net6.0/ja/System.CommandLine.resources.dll
/PomodoroCLI/bin/Release/net6.0/ko/System.CommandLine.resources.dll
/PomodoroCLI/bin/Release/net6.0/pl/System.CommandLine.resources.dll
/PomodoroCLI/bin/Release/net6.0/pt-BR/System.CommandLine.resources.dll
/PomodoroCLI/bin/Release/net6.0/ru/System.CommandLine.resources.dll
/PomodoroCLI/bin/Release/net6.0/tr/System.CommandLine.resources.dll
/PomodoroCLI/bin/Release/net6.0/zh-Hans/System.CommandLine.resources.dll
/PomodoroCLI/bin/Release/net6.0/zh-Hant/System.CommandLine.resources.dll
/PomodoroCLI/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.dll
/PomodoroCLI/bin/Debug/net6.0/System.Diagnostics.EventLog.dll
/PomodoroCLI/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.Messages.dll
/.idea/.idea.PomodoroApp/.idea/vcs.xml
